* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1edea;
}

img {
    border-radius: 30px;
}

/* Rounded border */
hr.rounded {
    width: 70%;
    margin: 0 auto;
    border-top: 3px solid rgba(245, 180, 172, 1);
    border-radius: 3px;
}

/* Navigation Bar */
header {
    padding: 25px 25px;
    background-color: #e65334;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.topic {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #fff;
}

/* Container section */
.container {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

/* Text content functions */
.text-content {
    flex-basis: 48%;
    padding: 30px 2px;
}

/* Heading (introduction) */
.heading-intro {
    font-size: 62px; 
    font-family: 'Poppins', sans-serif; 
    color: #d7593b;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 1px; 
}

.text-content p {
    font-family: 'Open Sans', sans-serif;
    color: #d7593b; 
    font-size: 20px;
    padding: 15px 0 25px;
    text-indent: 0%;
    text-align: justify;
    text-justify: inter-word;
}

/* Image content functions */
.image-content {
    flex-basis: 48%;
    padding: 30px 2px;
}

.image-content img {
    width: 100%;
    border-radius: 30px; 
}

/* Row styling */
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/* Centered section */
.centered-section {
    text-align: justify;
}

.centered-paragraph {
    font-family: 'Open Sans', sans-serif;
    color: #d7593b;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px 0 10px;
    width: 80%;
    margin-top: 5px; 
}
