/* style.css */

/* General */
body {
    margin: 0;
    padding: 0;
    background: #f0ecea;
    font-family: 'Montserrat', sans-serif;
    color: #d7593a;
    padding-top: 30px; 
    padding-bottom: 50px;
}

/* Header */
header {
    padding: 25px 25px;
    background-color: #e65334;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.topic {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #fff;
}

.rectangle {
    width: 100%;
    height: 500px; 
    background-color: #f2d7d2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

main {
    padding: 20px;
    text-align: left;
    left: 50px;
}

main h1 {
    position: relative;
    left: 300px;
    font-size: 30px;
}

/* Main Title */
.main-title {
    font-size: 120px;
    font-family: 'Merriweather', serif;
    color: #d7593b;
    text-align: center; 
    margin-bottom: 20px; 
}

/* Subtitle */
.subtitle {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: #d7593b;
    text-align: center; 
    margin-bottom: 15px; 
}

/* Heading (introduction) */
.heading-intro {
    font-size: 62px; 
    font-family: 'Poppins', sans-serif; 
    color: #d7593b;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 1px; 
}

/* Paragraph */
p {
    font-size: 20px;
    color: #d7593b;
    text-align: justify; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

/* Center and justify */
.center-text {
    text-align: justify;
    display: flex;
    justify-content: center;
}

.justify-text {
    width: 80%; 
    text-align: justify;
}

/* Container layout function */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px; 
    margin: 0 auto; /* Center the container */
    max-width: 1200px; /* Centering the container */
}

/* Text content functions */
.text-content {
    flex: 1;
    margin-right: 20px;
}

/* Image functions */
.image-content img {
    border-radius: 25px; 
    max-width: 600px; 
    height: 400px; 
}

.image-content-left img {
    border-radius: 25px; 
    max-width: 1100px; 
    height: 400px;
}

/* Left aligned image function */
.image-content-left {
    order: -1; /* make the image to the left */
    margin-right: 20px; 
}
